<% content_for :title do %>
    <h1>Time Off <small>list of all Time Off's</small></h1>
<%end %>

<div id="timeOffGrid"></div>

<%= javascript_include_tag "time_offs" %>
<%= stylesheet_link_tag "time_offs" %>
