<% content_for :title do %>
    <h1>Time Off <small>create new request</small></h1>
<%end %>


<div class="portlet light">
  <div class="portlet-title">
    <div class="caption font-green-haze">
      <i class="icon-pencil font-green-haze"></i>
      <span class="caption-subject bold uppercase"> New Time Off Request </span>
    </div>
    <div class="actions">
      <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
    <%= form_for(@time_off, :builder => Judge::FormBuilder, :html => {:class => 'form-horizontal'}) do |f| %>
        <div class="form-body">
          <%= render 'new_fields', f: f %>
        </div>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-10">
              <%= f.button "Reset", id:"btn-reset", type:"button", class:"btn default" %>
              <%= f.button "Submit", type:"submit", class:"btn blue" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
